// Hostname for server.
hostname "{{ SERVER_NAME }}"

// RCON - remote console password.
rcon_password "{{ RCON_PASSWORD }}"

// Server password - for private servers.
sv_password "{{ SERVER_PASSWORD }}"

// Server Logging
log on
sv_logbans 1
sv_logecho 1
sv_logfile 1
sv_log_onefile 0

// Server Hibernation
sv_hibernate_when_empty 1
sv_hibernate_ms 5

// Server Query
host_name_store 1
host_info_show 1
host_players_show 2

exec banned_user.cfg
exec banned_ip.cfg
writeid
writeip 

